.message-container {
  color: white;
  font-size: 1.2rem;
  background-color: #13e143;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
}

.heading-container {
  background-color: var(--heading-bg-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 80px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}