.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.card {
  width: 200px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}