.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.product-image {
  height: 600px;
  width: 500px;
}

.product-image img {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.product-info h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.product-info p {
  font-size: 1.2rem;
}

.price-info {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.cart-button,
.login-button {
  gap: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 1rem;
  background-color: var(--main-button-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 200px;
}

.product-additional-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.info-container button {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
}

.description-info,
.specifications-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.description-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}