.main-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.product-image img {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-info h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 1.2rem;
}

.price-info {
  font-size: 22px;
  border-radius: 8px;
  margin-bottom: 24px;
  font-weight: 500;
  padding: 6px 16px 3px 16px;
  background-color: var(--main-button-color);
  color: white;
  flex-shrink: 1;
}

.cart-button,
.login-button {
  margin-top: 30px;
  padding: 10px 8px 5px 8px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  color: #2d5045;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #2d5045;
  display: flex;
  align-items: center;
}

.product-additional-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 3px;
  gap: 8px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.info-container button {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.description-info,
.specifications-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.description-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1000px) {

  .main-container {
    gap: 50px;
  }

  .product-info h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .product-image img {
    height: 500px;
    width: 400px;
  }

  .product-info h1 {
    font-size: 2rem;
  }

  .main-container {
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .product-image img {
    height: 500px;
    width: 300px;
  }
}

@media (max-width: 650px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .main-container button {
    margin-bottom: 20px;
  }

  .product-image img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 350px) {

  .info-container button {
    font-size: 1.2rem;
  }

  .product-additional-info {
    font-size: 1rem;
    margin-top: 3px;
    gap: 4px;
  }

  .product-info p {
    font-size: 1rem;
  }
}