.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.product-image img {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.product-info h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.product-info p {
  font-size: 1.2rem;
}

.price-info {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.cart-button,
.login-button {
  gap: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 1rem;
  background-color: var(--main-button-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 200px;
}

.product-additional-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.info-container button {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
}

.description-info,
.specifications-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.description-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 900px) {
  .product-image img {
    height: 500px;
    width: 400px;
  }

  .main-container {
    gap: 50px;
  }
}

@media (max-width: 800px) {
  .product-image img {
    height: 500px;
    width: 300px;
  }
}

@media (max-width: 650px) {
  .product-image img {
    height: 400px;
    width: 250px;
  }

  .product-info h1 {
    font-size: 2rem;
  }

  .product-info p {
    font-size: 1rem;
  }

  .price-info {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .product-additional-info {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .main-container button {
    margin-bottom: 20px;
  }

  .product-image img {
    height: 300px;
    width: 300px;
  }
}