* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  background-color: #002242;
  padding: 5px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.nav-container>div {
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

.shop {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.shop input {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid gray;
}

.product-menu {
  display: flex;
  flex-direction: column;
}

.product-menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 2px;
}

.dropdown {
  position: absolute;
  background-color: #002242;
  margin-top: 47px;
  padding: 10px 0;
  z-index: 1;
  min-width: 100px;
  border-top: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dropdown-link {
  padding: 5px 10px;
}

.dropdown-link:hover {
  background-color: #093f86;
}

.user-options {
  font-size: 20px;
  font-weight: 500;
}

.nav-cart,
.nav-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

/* Login and Register pages */

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #002242;
}

.form-container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.form-input-container input {
  height: 30px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid gray;
}

.link-msg {
  font-size: 1.1rem;
}

.link-click {
  color: blue;
  font-weight: 500;
}

.submit-button {
  background-color: #0064E4;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
}

/* SPINNER */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Cart stuff */

.card-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.card {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card button,
.empty-cart button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.empty-cart span {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}