.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.carousel-container {
  max-width: 80%;
}

.carousel-image {
  max-height: 400px;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.image-link {
  height: 40px;
  width: 120px;
  background-color: var(--main-button-color);
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.image-link:hover {
  background-color: #cdd2d8;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 1200px;
  gap: 30px;
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  justify-items: center;
  box-sizing: border-box;
}

.card-container button {
  padding: 6px;
}

@media (max-width: 1100px) {
  .card-container {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
  }
}

@media (max-width: 1000px) {
  .card-container {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}