.orders-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.orders-table th,
.orders-table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.orders-table th {
  background-color: #f2f2f2;
}

.orders-table td {
  text-align: center;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orders-table tbody tr:hover {
  background-color: #eaeaea;
}